<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hursa Knives</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    ></script>
    <script src="/js/passwordToggle.js" defer></script>
    <script src="/js/hideToasts.js" defer></script>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
</head>
<nav class="navbar navbar-expand-xl data-mdb-disabled zindex-popover navbar-light"
     style="background-color: #b4b4b4; user-select: none;" th:fragment="nav"
     th:object="${userProfile}">
    <div class="container-fluid">
        <a th:href="@{/}" class="navbar-brand" style="color: rgba(0,0,0,.5)">
            <h1 class="mt-1">Hursa Knives</h1>
        </a>
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <th:block sec:authorize="!isAuthenticated()">
                        <li class="nav-item">
                            <!--                        <div class=mt-2">-->
                            <a th:href="@{/users/login}"
                               class="nav-link btn btn-outline-secondary m-2">Login</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/users/register}"
                               class="nav-link btn btn-outline-secondary m-2">Register</a>
                        </li>
                        <!--                        </div>-->
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <!--                    <div class="nav-item row mt-2 mr-2">-->
                        <li class="nav-item text-center align-content-center align-self-center align-items-center">
                            <p class="my-3 d-block" style="color: rgba(0,0,0,.5)">Welcome,
                                <th:block sec:authentication="name"></th:block>
                            </p>
                        </li>
                        <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
                            <!--                            <li class="nav-item dropdown"></li>-->
                            <!--                            <ul class="nav nav-pills">-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle btn btn-outline-secondary m-2 py-2"
                                   data-bs-toggle="dropdown" href="#" role="button"
                                   aria-expanded="false">Admin</a>
                                <ul class="dropdown-menu" style="background-color: #ececec">
                                    <li><h6 class="dropdown-header">Admin Actions</h6></li>
                                    <li class="li-hov"><a class="dropdown-item"
                                                          th:href="@{/users/register/admin}">Add
                                        User</a>
                                    </li>
                                    <li class="li-hov"><a class="dropdown-item"
                                                          th:href="@{/users/admin/edit}">Edit
                                        User</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider"
                                            style="border-color: #6c757d">
                                    </li>
                                    <li><h6 class="dropdown-header">Info Actions</h6></li>
                                    <li class="li-hov"><a class="dropdown-item" href="#">Add
                                        Contact</a></li>
                                    <li class="li-hov"><a class="dropdown-item" href="#">Edit
                                        Info</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider"
                                            style="border-color: #6c757d">
                                    </li>
                                    <li><h6 class="dropdown-header">Product Actions</h6></li>
                                    <li class="li-hov"><a class="dropdown-item" href="#">Add
                                        Product</a></li>
                                    <li class="li-hov"><a class="dropdown-item" href="#">Edit
                                        Product</a></li>
                                </ul>
                            </li>
                            <!--                            </ul>-->
                        </th:block>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary m-2 py-2"
                               th:href="@{/users/profile/{id}(id=${userProfile.getId()})}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <form th:action="@{/users/logout}" method="post"
                                  class="nav-link btn btn-outline-secondary m-2 py-1 ">
                                <button type="submit" class="btn bg-transparent p-1"
                                        style="color: rgba(0,0,0,.5)">
                                    Logout
                                </button>
                            </form>
                        </li>
                        <!--                    </div>-->
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</nav>
<th:block th:fragment="successMessage" th:object="${successMessage}"
          th:if="${successMessage != null}">
    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true"
         style="z-index: 10000; position: relative">
        <div class="alert alert-success d-flex align-items-center mr-2 mt-2 md-2 col-xxl-3 col-xl-4 col-lg-6 col-m-6 col-sm-6 col-xs-12"
             role="alert" style="position: absolute; right: 0">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                 aria-label="Success:">
                <use xlink:href="#check-circle-fill"/>
            </svg>
            <div th:text="${successMessage}" class="ml-2">
                An example success alert with an icon
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="errorMessage" th:object="${errorMessage}" th:if="${errorMessage != null}">
    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="alert alert-danger d-flex align-items-center mr-2 mt-2 md-2 col-xxl-3 col-xl-4 col-lg-6 col-m-6 col-sm-6 col-xs-12"
             role="alert" style="position: absolute; right: 0">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                 aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill"/>
            </svg>
            <div th:text="${errorMessage}" class="ml-2">
                An example danger alert with an icon
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="error">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"><span class="text-danger">Oops!</span> Page not found.</p>
            <p class="lead">
                The page you’re looking for does not exist.
            </p>
            <a href="/" class="btn btn-outline-secondary">Go Home</a>
        </div>
    </div>
</th:block>
</html>