<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments/commons :: head}"><title>Add Product</title></head>
<body>
<nav th:replace="~{fragments/commons :: nav}"></nav>
<th:block th:replace="~{fragments/commons :: errorMessage}"></th:block>

<form class="main-form mx-auto mb-0 bg-blur col-xxl-4 col-xl-6 col-lg-8 col-m-9 col-sm-10 col-xs-12"
      style="margin-top: 4rem"
      th:action="@{/contacts/admin/add}" th:method="post" enctype="multipart/form-data"
      th:object="${contactDTO}">
    <div class="form-group my-1">
        <div class="label-holder text-white d-flex justify-content-center">
            <label for="firstName" class="form-label h4 mb-2">First Name</label>
        </div>
        <input autocomplete="given-name" type="text" class="form-control"
               id="firstName" name="firstName" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="Please enter a valid first name e.g John"
               th:value="${contactDTO.getFirstName()}"
               th:errorClass="'is-invalid text-danger wrn'"/>
        <small class="invalid-feedback text-danger" th:errors="*{firstName}">First name error
            message</small>
    </div>

    <div class="form-group my-1">
        <div class="label-holder text-white d-flex justify-content-center">
            <label for="lastName" class="form-label h4 mb-2">Last Name</label>
        </div>
        <input autocomplete="given-name" type="text" class="form-control"
               id="lastName" name="lastName" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="Please enter a valid last name e.g Doe"
               th:value="${contactDTO.getLastName()}"
               th:errorClass="'is-invalid text-danger wrn'"/>
        <small class="invalid-feedback text-danger" th:errors="*{lastName}">Last name error
            message</small>
    </div>

    <div class="form-group my-1">
        <div class="label-holder text-white d-flex justify-content-center">
            <label for="additionalInfo" class="form-label h4 mb-2">Additional Info</label>
        </div>
        <input autocomplete="additionalInfo" type="text" class="form-control"
               id="additionalInfo" name="additionalInfo" data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="Please enter a valid additional info e.g. Contact me if you have any questions"
               th:value="${contactDTO.getAdditionalInfo()}"
               th:errorClass="'is-invalid text-danger wrn'"/>
        <small class="invalid-feedback text-danger" th:errors="*{additionalInfo}">Description error
            message</small>
    </div>

    <div class="form-group my-1">
        <div class="label-holder text-white d-flex justify-content-center">
            <label for="email" class="form-label h4 mb-2">Contact Email</label>
        </div>
        <input autocomplete="email" type="email" class="form-control"
               id="email" name="email" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="Please enter a valid email e.g. john@example.com"
               th:value="${contactDTO.getEmail()}"
               th:errorClass="'is-invalid text-danger wrn'"/>
        <small class="invalid-feedback text-danger" th:errors="*{email}">Email error
            message</small>
    </div>

    <div class="form-group my-1">
        <div class="label-holder text-white d-flex justify-content-center">
            <label for="phone" class="form-label h4 mb-2">Contact phone</label>
        </div>
        <input autocomplete="phone" type="number" class="form-control"
               id="phone" name="phone" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="Please enter a valid phone e.g. john@example.com"
               th:value="${contactDTO.getPhone()}"
               th:errorClass="'is-invalid text-danger wrn'"/>
        <small class="invalid-feedback text-danger" th:errors="*{phone}">Phone error
            message</small>
    </div>

    <div class="form-group my-1">
        <div class="label-holder text-white d-flex justify-content-center">
            <label for="image" class="form-label h4 mb-2">Add Image</label>
        </div>
        <input class="form-control" type="file" id="image" name="image">
    </div>

    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-warning  my-2">Add Contact</button>
    </div>
</form>

</body>
</html>