<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments/commons :: head}"><title>Hursa-Knives</title></head>
<body class="bg-image home-bg">
<nav th:replace="~{fragments/commons :: nav}"></nav>
<div class="mx-5 d-flex flex-column home-div">
    <p class="text-white home-text text-break">The Blacksmith God, Son of the Sun.</p>
    <p class="text-white home-text text-break">The supreme Alp-div. Hursa is also revered as the
        Iron Father.</p>
    <p class="text-white home-text text-break">The Iron Father is a Giant of Giants and the ruler of
        water and fire. </p>
    <p class="text-white home-text text-break">He is represented as a heroic horseman armed with a
        sword, but he is also shod in iron shoes and carries an iron axe.</p>
    <p class="text-white home-text text-break">The god Hursa forged the weapon of the middle Alps,
        he taught men to mine and work iron, and was the creator of the first men.</p>
</div>
</body>
</html>